* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #000;
  color: #fff;
}


/* FONT */

@font-face {
  font-family: AbrilFatface;
  src: url(AbrilFatface-Regular.ttf);
}
@font-face {
  font-family: AbhayaLibre-Regular;
  src: url(AbhayaLibre-Regular.ttf);
}

/* END FONT */

h1,h2,h3,h4,h5,h6{
  font-family: AbrilFatface;
}

p,span,li{
  font-family: AbhayaLibre-Regular;
  letter-spacing: 1px;
}

h1, h2{
  font-size: 75px;
  font-weight: 400;
  margin-bottom: 15px;
}
h3{
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 15px;
}
p{
  font-size: 20px;
  margin-bottom: 15px;
}
.container{
  max-width: 1440px;
  padding-left: 50px;
  padding-right: 50px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}
.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.col-sm-4{
  max-width: 33.333%;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
.text-center{
  text-align: center;
}
.align_center{align-items: center;}

/* BUTTON */
button {
  padding: 15px 30px;
  border: 2px solid #fff;
  color: #fff;
  text-transform: uppercase;
  border-right: 0;
  background: transparent;
  position: relative;
  cursor: pointer;
  transition: 0.5s all;
  font-size: 24px;
  font-family: AbhayaLibre-Regular;
}

button:before{
  content: '>';
  position: absolute;
  right: -5px;
  top: -25.5px;
  font-size: 40px;
}
button:after{
  transition: 0.5s all;
  background-color: #A9845A;
  content: '';
  position: absolute;
  top: 0;
  bottom:0;
  left: 0;
  width: 0;
}
button:hover:after{
  right: 0;
  width: 100%;
  transition: 0.5s all;
  z-index: -1;
  border-radius:25px;
}
button:hover{
  border-radius:25px 0 0 25px;
  transition: 0.5s all;
}

/* Header */
header{
  background-color: #A9845A;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  position: fixed;
  left: 0;
  right: 0;

}
header img{
  margin-bottom: -60px;
  padding-top: 15px;
}


/* Hero */
#hero{
  position: relative;
}

#hero .hero_content{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  max-width: 500px;
}

/* benefit */
#benefit{
  padding: 100px 0;
}
.benefit_heading{
  font-family: AbrilFatface;
  font-size: 26px;
  font-family: 400;
  margin-top: 25px;
  margin-bottom: 15px;
}

#benefit button{
  margin: 0 auto;
  display: block;
  margin-top: 75px;
}

/* Design */
#design img{
  margin-bottom: -10px;
}

/* Ved masala video */

#ved_masala_video{
  background-color: #6B3E1B;
  padding: 100px 0 150px;
}

#ved_masala_video video{
  display: block;
  margin: 0 auto;
  margin-bottom: 15px;
}

/* product */
#product{
  padding: 100px 0;
}
.p_main_img{
  margin-bottom: 15px;
}
.p_img_grid{
  display: flex;
  gap: 20px;
}
.img_grid{
  width:25%;
}
.img_grid img{width: 100%;}
.product_info{padding-left: 50px;}
.price{
  font-size: 60px;
  font-weight: 400;
  font-family: AbrilFatface;
  margin-bottom: 35px;
}
#product .ingredients{
  display: flex;
  gap: 50px;
}
.ingredients ul{
  margin-left: 25px;
  margin-bottom: 35px;
}

/* marquee */
#marquee .marquee{
  background: #6B3E1B;
  padding: 38px 0;
}
#marquee h3{
  font-size: 32px;
  color: #fff;
  display: flex;
  align-items: center;
  padding-right: 100px;
  margin-bottom: 0;
}
#marquee h3:before {
  content: '';
  background: #fff;
  width: 10px;
  height: 10px;
  display: inline-block;
  border-radius: 50%;
  margin-right: 100px;
}
.small_text{
  font-size: 25px;
  margin-left: 10px;
}

/* using */
#using img{width: 100%;}
#using {
  padding: 50px 0;
}

/* Hero_2 */
#hero_2{
  position: relative;
}
#hero_2 .hero2_content{
  position: absolute;
  top: 50%;
  right: 50px;
  transform: translateY(-50%);
  max-width: 768px;
}
.right_design{
  position: absolute;
  right: 0;
  bottom: -200px;
  z-index: 5;
}

/* founder */
#founder{
  padding: 130px 0 0;
}
.brand_info{
  margin-bottom: 50px;
}

.name, .ceo{
  font-size: 20px;
  font-style: italic;
  margin-bottom: 15px;
  letter-spacing: 1px;
}

.design-2{
  margin-top: -110px;
  z-index: 1;
  position: relative;
}
.design-3{
  margin-top: -120px;
}

/* testimonial */
#testimonial .slick-initialized .slick-slide{
  display: flex;
}
#testimonial{
  padding-bottom: 60px;

}
#design{
  position: relative;
}
#design .web_color{
  background: #A9845A;
  width: 100%;
  height: 175px;
}
.f_logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -55px;
}









@media(min-width:769px){
  .d-none{display: none;}
  .col-sm-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
    padding-right: 15px;
    padding-left: 15px;
  }
  .col-sm-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
    padding-right: 15px;
    padding-left: 15px;
  }
  #product .col-sm-7{
    position: sticky;
    top: 50px;
    height: fit-content;
  }
  .col-sm-3{
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
    padding-right: 15px;
    padding-left: 15px;
  }
}
@media(max-width:768px){
  .m-none{display: none;}
  .container{
    max-width: 100%;
    padding-left: 25px;
    padding-right: 25px;
  }
  .col-sm-5, .col-sm-7{
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }
  h1, h2 {
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 15px;
  }
  h3 {
      font-size: 18px;
      font-weight: 400;
      margin-bottom: 15px;
      letter-spacing: 1px;
  }
  p {
      font-size: 16px;
      margin-bottom: 15px;
    }
  button{
    font-size: 18px;
    padding: 9px 15px;
  }
  button:before{
    top: -20.5px;
    font-size: 30px;
  }

  #ved_masala_video video{width: 100%;height: 100%;}
  #hero .hero_content{
    position: absolute;
    top: unset;
    transform: translate(0px, -10%);
    max-width: 100%;
    bottom: 30px;
    left: 25px;
    right: 25px;
  }
  .benefit img{
    width: 75%;
  }
  .col-sm-4{
    padding-right: 8px;
    padding-left: 8px;
  }
  .benefit_heading{
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  #benefit .col-sm-4{
    max-width: 50%;
    position: relative;
    width: 100%;
  }
  #benefit .row{
    justify-content: center;
  }
  #benefit button {
    margin-top: 50px;
  }
  #ved_masala_video{
    padding: 35px 0 40px;
  }
  .product_info{
    padding-left: 0px;
  }
  .price{
    font-size: 30px;
  }
  .ingredients ul{
    margin-left: 16px;
  }
  #product {
      padding: 50px 0;
  }
  #marquee .marquee{
    padding: 25px 0;
  }
  #using .col-sm-3{
    max-width: 50%;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  #hero_2 .hero2_content {
      position: absolute;
      top: unset;
      right: 25px;
      left: 25px;
      bottom: 30px;
      transform: unset;
      max-width: 100%;
  }
  .right_design{
    width: 150px;
    bottom: -100px;
  }
  .design-2{
    margin-top: -30px;
  }
  .design-3 {
      margin-top: -30px;
  }
  #testimonial .col-sm-7{
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .f_logo{
    width: 130px;
    top: -25px;
  }
  #design .web_color{
    height: 50px;
  }
  .small_text{
    font-size: 20px;
  }
}

